:root {
    --border-color: #000000;
    --dialog-background: rgba(88, 111, 124, 0.8);

    --menu-background: #2F4550;
    --menu-border-color: hsl(177, 33%, 79%);
    --menu-font-color: #101010;
    --menu-selected-background: #586F7C;
}

body {
    background-color: #212121;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Press Start 2P', cursive;
    user-select: none !important;
    max-height: 100vh;
    touch-action: manipulation;
}

* {
    box-sizing: border-box;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    outline: 1px solid rgba(0,0,0,0.2);

    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    cursor: crosshair;
}

.zoom {
    transform: scale(4.8);
}

.game-container canvas {
    width: 100%;
    image-rendering: pixelated;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.buttons {
    transform: scale(2);
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    -webkit-touch-callout: none;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 2px;
    margin: 0;
    transform: scale(2);
    image-rendering: pixelated;
    /* border: 1px solid #fff */
}

.ctrl-img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none;
}

.updown {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.mvmt_buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    max-width: 50px;
}

.ab_btns {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    .zoom {
        transform: scale(4.2);
    }

    .buttons {
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
        /* margin-bottom: 100px;
        padding-bottom: 100px; */
    }
}

@media only screen and (max-width: 720px) {
    .zoom {
        transform: scale(3.8);
    }

    .buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding-bottom: 100px; */
    }
}