:root {
    --border-color: #212121;
    --dialog-background: #FFF3B4;

    --menu-background: #FFE802;
    --menu-border-color: #A48465;
    --menu-font-color: #3A160D;
    --menu-selected-background: #7FC2FF;
}

body {
    background-color: #212121;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
    max-height: 100vh;
    touch-action: manipulation;
}

* {
    box-sizing: border-box;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    /* width: 100vw;
    height: 100vw; */
    outline: 1px solid rgba(0,0,0,0.2);

    transform: scale(2.0);
    max-width: 100vw;
}

.game-container canvas {
    max-width: 100vw;
    /* width: 100%; */
    image-rendering: pixelated;
}

.buttons {
    transform: scale(2);
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
    user-select: none;
    -webkit-touch-callout: none;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 2px;
    margin: 0;
    transform: scale(2);
    image-rendering: pixelated;
    /* border: 1px solid #fff */
}

.ctrl-img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none;
}

.updown {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.mvmt_buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    max-width: 50px;
}

.ab_btns {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 720px) {
    body {
        padding-top: 200px;
        justify-content: space-evenly;
    }

    .game-container {
        transform: scale(1.2);
        margin: 0 auto;
    }

    .buttons {
        margin-top: 100px;
        margin-bottom: 200px;
    }
}