.Message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36px;
    padding: 8px;
    background: var(--dialog-background);
    border-top: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);
    font-family: 'Press Start 2P', cursive;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    z-index: 1
}

.Message_p {
    margin: 0;
    font-size: 8px;
    color: var(--menu-font-color);
    font-family: 'Press Start 2P', cursive;
    line-height: 10px;
}

.Message span {
    opacity: 0;
}

.Message span.revealed {
    opacity: 1;
}

.Message_button {
    margin: 0;
    font-size: 8px;
    padding: 0;
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    color: var(--menu-font-color);

    position: absolute;
    right: 2px;
    bottom: 0;
}